.main
  .main_top
    .main_top_left_box
      = @group.name
      .main_top_left_box_name
        %p Menber : 
        - @group.users.each do |user|
          = user.name
    .main_top_right_edit
      = link_to edit_group_path(@group) do
        Edit
  .main_contents_box_massege
    = render @messages
  .main_footer
    .main_footer_contents
      .main_footer_contents_massege
        .main_footer_contents_massege_submit
          = form_for [@group, @message] do |f|
            = f.text_field :content, placeholder: 'type a message', class: 'main_footer_contents_massege_submit_text'
            .main_footer_contents_massege_submit_picter
              = f.label :image do
                = icon('fas','image')
                = f.file_field :image,class: 'main_footer_contents_massege_submit_picter_hidden'
            = f.submit 'Send',class: 'main_footer_contents_massege_submit_picter_send'