.side
  .side_top
    .side_top_box
      .side_top_box_user
        = current_user.name
      .side_top_box_tag
        .side_top_box_tag_icon
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'icon')
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side_ber
    - current_user.groups.each do |group|
      .side_ber_groups
        = link_to group_messages_path(group) do
          .side_ber_groups_name
            = group.name
          .side_ber_groups_massege
            = group.show_last_message